
.container {
    max-width: 1200px;
  }
  
  .m2-txt1 {
    font-family: PlayfairDisplay-Regular;
    font-size: 25px;
    color: #fff;
    line-height: 1.2;
  }
  
  .l1-txt1 {
    font-size: 50px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
  }
  
  .size1 {
    width: 100%;
    min-height: 100vh;
  }
  
  .bg-img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .overlay1 {
    position: relative;
    z-index: 1;
  }
  .overlay1::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #61045f;
    background: -webkit-linear-gradient(bottom, #007a3c, #133f5f);
    background: -o-linear-gradient(bottom, #007a3c, #133f5f);
    background: -moz-linear-gradient(bottom, #007a3c, #133f5f);
    background: linear-gradient(bottom, #007a3c, #133f5f);
    opacity: 0.9;
  }
  
  .overlay1::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.2);
  }
  
  .logo{
    height:150px;
    display: block;
    margin: auto;
  }
  
  @media (max-width: 576px) {
    .logo{
      height:100px
    }
  }
  
  *, *:before, *:after {
      margin: 0px; 
      padding: 0px; 
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  body, html {
      font-family: Arial, sans-serif;
      font-size: 15px;
      color: #666666;
  
      height: 100%;
      background-color: #fff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }
  
  .txt-center {text-align: center;}
  .txt-middle {vertical-align: middle;}
  
  /*//////////////////////////////////////////////////////////////////
  [ POSITION ]*/
  
  /*------------------------------------------------------------------
  [ Display ]*/
  .dis-none {display: none;}
  .dis-block {display: block;}
  .dis-inline {display: inline;}
  .dis-inline-block {display: inline-block;}
  
  .flex-w,
  .flex-l,
  .flex-r,
  .flex-c,
  .flex-sa,
  .flex-sb,
  .flex-t,
  .flex-b,
  .flex-m,
  .flex-str,
  .flex-c-m,
  .flex-c-t,
  .flex-c-b,
  .flex-c-str,
  .flex-l-m,
  .flex-r-m,
  .flex-sa-m,
  .flex-sb-m,
  .flex-col-l,
  .flex-col-r,
  .flex-col-c,
  .flex-col-str,
  .flex-col-t,
  .flex-col-b,
  .flex-col-m,
  .flex-col-sb,
  .flex-col-sa,
  .flex-col-c-m,
  .flex-col-l-m,
  .flex-col-r-m,
  .flex-col-str-m,
  .flex-col-c-t,
  .flex-col-c-b,
  .flex-col-c-sb,
  .flex-col-c-sa,
  .flex-row,
  .flex-row-rev,
  .flex-col,
  .flex-col-rev,
  .dis-flex {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
  }
  
  /*------------------------------------------------------------------
  [ Position ]*/
  .pos-relative {position: relative;}
  .pos-absolute {position: absolute;}
  .pos-fixed {position: fixed;}
  
  /*------------------------------------------------------------------
  [ Float ]*/
  .float-l {float: left;}
  .float-r {float: right;}
  
  
  /*------------------------------------------------------------------
  [ Top Bottom Left Right ]*/
  .top-0 {top: 0;}
  .bottom-0 {bottom: 0;}
  .left-0 {left: 0;}
  .right-0 {right: 0;}
  
  .top-auto {top: auto;}
  .bottom-auto {bottom: auto;}
  .left-auto {left: auto;}
  .right-auto {right: auto;}
  
  
  /*------------------------------------------------------------------
  [ Flex ]*/
  /* ------------------------------------ */
  .flex-w {
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      -o-flex-wrap: wrap;
      flex-wrap: wrap;
  }
  
  /* ------------------------------------ */
  .flex-l {
      justify-content: flex-start;
  }
  
  .flex-r {
      justify-content: flex-end;
  }
  
  .flex-c {
      justify-content: center;
  }
  
  .flex-sa {
      justify-content: space-around;
  }
  
  .flex-sb {
      justify-content: space-between;
  }
  
  /* ------------------------------------ */
  .flex-t {
      -ms-align-items: flex-start;
      align-items: flex-start;
  }
  
  .flex-b {
      -ms-align-items: flex-end;
      align-items: flex-end;
  }
  
  .flex-m {
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-str {
      -ms-align-items: stretch;
      align-items: stretch;
  }
  
  
  /* ------------------------------------ */
  .flex-c-m {
      justify-content: center;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-c-t {
      justify-content: center;
      -ms-align-items: flex-start;
      align-items: flex-start;
  }
  
  .flex-c-b {
      justify-content: center;
      -ms-align-items: flex-end;
      align-items: flex-end;
  }
  
  .flex-c-str {
      justify-content: center;
      -ms-align-items: stretch;
      align-items: stretch;
  }
  
  .flex-l-m {
      justify-content: flex-start;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-r-m {
      justify-content: flex-end;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-sa-m {
      justify-content: space-around;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-sb-m {
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
  }
  
  /* ------------------------------------ */
  .flex-col-l {
      -ms-align-items: flex-start;
      align-items: flex-start;
  }
  
  .flex-col-r {
      -ms-align-items: flex-end;
      align-items: flex-end;
  }
  
  .flex-col-c {
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-col-str {
      -ms-align-items: stretch;
      align-items: stretch;
  }
  
  /*---------------------------------------------*/
  .flex-col-t {
      justify-content: flex-start;
  }
  
  .flex-col-b {
      justify-content: flex-end;
  }
  
  .flex-col-m {
      justify-content: center;
  }
  
  .flex-col-sb {
      justify-content: space-between;
  }
  
  .flex-col-sa {
      justify-content: space-around;
  }
  
  /*---------------------------------------------*/
  .flex-col-c-m {
      -ms-align-items: center;
      align-items: center;
      justify-content: center;
  }
  
  .flex-col-l-m {
      -ms-align-items: flex-start;
      align-items: flex-start;
      justify-content: center;
  }
  
  .flex-col-r-m {
      -ms-align-items: flex-end;
      align-items: flex-end;
      justify-content: center;
  }
  
  .flex-col-str-m {
      -ms-align-items: stretch;
      align-items: stretch;
      justify-content: center;
  }
  
  
  .flex-col-c-t {
      justify-content: flex-start;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-col-c-b {
      justify-content: flex-end;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-col-c-sb {
      justify-content: space-between;
      -ms-align-items: center;
      align-items: center;
  }
  
  .flex-col-c-sa {
      justify-content: space-around;
      -ms-align-items: center;
      align-items: center;
  }
  
  
  /* ------------------------------------ */
  .flex-row {
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      -o-flex-direction: row;
      flex-direction: row;
  }
  
  .flex-row-rev {
      -webkit-flex-direction: row-reverse;
      -moz-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      -o-flex-direction: row-reverse;
      flex-direction: row-reverse;
  }
  
  .flex-col-l,
  .flex-col-r,
  .flex-col-c,
  .flex-col-str,
  .flex-col-t,
  .flex-col-b,
  .flex-col-m,
  .flex-col-sb,
  .flex-col-sa,
  .flex-col-c-m,
  .flex-col-l-m,
  .flex-col-r-m,
  .flex-col-str-m,
  .flex-col-c-t,
  .flex-col-c-b,
  .flex-col-c-sb,
  .flex-col-c-sa,
  .flex-col {
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-flex-direction: column;
      flex-direction: column;
  }
  
  .flex-col-rev {
      -webkit-flex-direction: column-reverse;
      -moz-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      -o-flex-direction: column-reverse;
      flex-direction: column-reverse;
  }
  