body {background-color: #fcfbf7;font-family: 'proxima_nova_rgregular';color:#333333;}
body a{color:#333;}    
a.btn-green{background-color:#46b789;min-width:100px;padding:7px 22px;color:#fff;text-decoration:none;font:16px 'proxima_nova_ltsemibold';border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;float:left;}
a.btn-green:hover{background-color:#2fa273;}
a.btn-green:active{background-color:#61756d;}

/*================== Dashboard page Styles ==================*/
#wrapper {width: 100%;}
#page-wrapper {padding:0 15px;min-height:580px;background-color: #fff;}

.navbar-default{background-color:#fff;}
.sidebar-nav{background-color:#fcfbf7;}
.navbar-top-links {margin-right: 0;}
.navbar-top-links li {display: inline-block;}
.navbar-top-links li:last-child {margin-right: 15px;}

.navbar-top-links li a{padding:20px 5px;min-height: 50px;}
.navbar-top-links li a img{margin:2px 7px 0 0;float:left;}    
.navbar-top-links li a:hover{background-color:transparent;color:#000;}  

/*---Left Nav Bar Styles----*/
.sidebar ul li a{color:#78797f;}
.sidebar ul li a.active{background-color:#46b789;}
.sidebar ul li.busdet a{background:url(../images/business-details.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.busdet a.active{background:url(../images/business-details-active.png) no-repeat 14px 14px;padding-left:38px;color:#fff;background-color:#46b789;}
.sidebar ul li.credfac a{background:url(../images/credit-facilities.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.condsus a{background:url(../images/cond-sus.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.planfac a{background:url(../images/Planned-facility-structure.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.futursourc a{background:url(../images/future-source-capital.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.owndet a{background:url(../images/owner-details.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.ressum a{background:url(../images/result-summary.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.ressum a.active{background:url(../images/result-summary-active.png) no-repeat 14px 14px;padding-left:38px;color:#fff;background-color:#46b789;}
.sidebar ul li.finanal a{background:url(../images/financial-analysis.png) no-repeat 14px 14px;padding-left:38px;}

.sidebar ul li a:hover{background-color:#f7f5ee;}

.cont-box{border:1px solid #e3e8e8;background-color:#fff;padding:15px 20px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #e3e8e8;margin-bottom:20px;}

/*================== Business Details page ==================*/
.page-title{border-bottom:1px solid #e9e9e9;padding-bottom:10px;margin-bottom:20px;}
.page-title h3{font:16px 'proxima_nova_ltsemibold';margin:0;}
.progress-cont{text-align:right;}

/*----Progress Bar Styles-----*/
.demo-wrapper{width:300px;float:right;}
.html5-progress-bar progress{background-color:#f3f3f3;border:0;width:65%;height:6px;border-radius:9px}
.html5-progress-bar progress::-webkit-progress-bar{background-color:#f3f3f3;border-radius:9px}
.html5-progress-bar progress::-webkit-progress-value{background:#4dc192;background:-moz-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4dc192),color-stop(100%,#46b789));background:-webkit-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-o-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-ms-linear-gradient(top,#4dc192 0%,#46b789 100%);background:linear-gradient(to bottom,#4dc192 0%,#46b789 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc192',endColorstr='#46b789',GradientType=0);border-radius:9px}
.html5-progress-bar progress::-moz-progress-bar{background:#4dc192;background:-moz-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4dc192),color-stop(100%,#46b789));background:-webkit-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-o-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-ms-linear-gradient(top,#4dc192 0%,#46b789 100%);background:linear-gradient(to bottom,#4dc192 0%,#46b789 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc192',endColorstr='#46b789',GradientType=0);border-radius:9px}
.html5-progress-bar .progress-value{line-height:20px;margin:2px 5px 0 0;font-size:12px;color:#555;height:18px;}

/*----Accordion Styles-----*/
.accord-cont{margin-top:20px;}
.accord-cont a{text-decoration:none;} 
.accord-cont span.glyphicon{font-size:12px;color:#909aa0;margin-right:5px;}
.accord-cont h4.panel-title{font:14px 'proxima_nova_ltsemibold'; color:#000;text-transform:uppercase;}
.accord-cont h4.panel-title a:hover{color:#000;}
.accord-cont .table-striped{background-color:#fbfbfb;}
.accord-cont .table-striped tr td{padding:10px 5px 10px 15px;font:13px 'proxima_nova_ltsemibold';}
.accord-cont .table-striped tr td a{color:#2a99c6;}
.accord-cont .table-striped tr td a:hover{color:#000;}
.accord-cont .table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #fff;}


/*================== Media Queries for Dashboard page ==================*/

@media(min-width:768px) {

    #page-wrapper {position:relative;z-index:1000;margin:0px 0 0 250px;padding: 20px;border-left: 1px solid #ececec;-webkit-box-shadow: -1px 0px 3px #E0E0DE; box-shadow: -1px 0px 2px #E0E0DE;background-color:#fdfdfd;}
   .sidebar {z-index: 1;position: absolute;width: 250px;margin-top:80px;}
        
    }


@media(max-width:768px) {
	.navbar-top-links li a {margin-left:10px;}
    #page-wrapper{padding-top:20px;}
	
	/*----Business Details Page----*/
	.demo-wrapper{float:left;margin-top:10px;}
	.progress-cont{text-align:left;}
	
   }
   @media (max-width: 480px) {
	
   

	
   }

