.card .card-header-overview:not(.card-header-icon):not(.card-header-text) {
    background: linear-gradient(60deg, #006576, #005B6D);
}

.m--bg-success {
    background-color: #13b36b !important;
}

.card .card-header-industry {
    background: linear-gradient(60deg, #13b36b, #01AD5D);
}

.card .card-header-submitted-bg {
    background: linear-gradient(60deg, #d2322d, #e53935);
}

.card .card-header-average-bg {
    background: linear-gradient(60deg, #13b36b, #0bb266);
}


.card .card-header-danger .card-icon, .card .card-header-danger .card-text, .card .card-header-danger:not(.card-header-icon):not(.card-header-text), .card.bg-danger{
    background: linear-gradient(60deg, #d2322d, #e53935);
}
.card-category {
    font-size: 14px;
}

.white, .white:hover {
    color : #fff;
    float: right;
}

#report_overview {
    height: 300px !important;
    overflow-y: auto;
}

#m_chart_industry_composition {
    height: 300px !important;
}

.text-report {
    color: #005b6d;
    font-weight: bold;
    font-size: 12px;
}

#client_keys {
    font-size: 24px !important;
}
.card-stats .card-header.card-header-icon i {
    font-size: 24px !important;
}

/* Modify Text Color for Report Overview */
.orange {
    color: orange !important;
}

.red {
    color: red !important;
}

.green {
    color: green !important;
}

/* Used for Industry Composition */

.tier_filter:hover{
    color: #000;
}

#legend_industry {
    max-height: 200px;
    width: 160px;
}
.bootstrap-select>.dropdown-toggle:after {
    content: "";
}

.btn {
    border-top: 0px !important;
    border-bottom: 0px !important;
    border-right: solid 1px #fff !important;
    border-left: solid 1px #fff !important;
    font-size: 10px !important;
    line-height: 10px !important;
    margin: 0px !important;
}

.bootstrap-select>.dropdown-toggle.btn-light,
.bootstrap-select>.dropdown-toggle.btn-secondary {
    color: #212529;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    min-width: 50px;
    max-width: 150px;
}

.bootstrap-select>.dropdown-toggle {
    padding: 3px !important;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
    display: none !important;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
    position: absolute;
    display: inline-block;
    right: 15px;
    margin-top: 5px;
}

.right{
    float:right;
}

p > span {
    font-size: 12px !important;
}

.multiselect-input {
    color: #000;
}

.form-check, label {
    color: #212529;
}

.multiselect-wrapper ul li.active {
    background-color: transparent !important;
}

.nav {
    display: inline  !important;
}


@media (max-width:426px){
    h5 {
        visibility: hidden;
    }

    .industry_body {
        max-height: 50px;
    }

    .tier_label {
        display: none;
    }
}


@media (max-width: 769px) {
    h5 {
        visibility: hidden;
    }

    .industry_body {
        max-height: 50px;
    }

    .collapse.in {
        display: block !important;
        height: 100vh;
        width: 100vw;
        position: absolute;
        z-index: 9999;
        background-color: white;
    }

    .navbar-fix-top, .navbar-collapse {
        max-height: 100vh !important;
    }

    .card-title {
        font-size : 20px;
        padding: 10px 0px;
    }
}

@media (max-width:1000px) and (min-width:800px){
    h5 {
        visibility: hidden;
    }
    .industry_body {
        max-height: 50px;
    }
}

@media (max-width:1200px)
{
    h5 {
        font-size: 10px !important;
    }
}