body {
    padding: 0;
    margin: 0;
}

#page-wrapper {
    display: block;
    margin: 0;
    padding: 0;
    border: 0 !important;
}

.panel-body {
    margin: 0;
    padding: 0;
    border: 0 !important;
}

#debt-service-calc-cntr {
    display: block !important;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

#dscr_slider {
    display: block !important;
}

.spacewrapper {
    width: 100% !important;
}

.page-title,
input[type="button"],
#page-wrapper > .row,
#footer,
.panel-body > p,
.reload-rcl,
.zsiq_floatmain,
#debt-service-calc-cntr > .read-only > h4,
#custom-interest-rate-btn,
#print-computation-btn {
    display: none !important;
}

.read-only-text {
    padding: 0 5px !important;
    border: 0 !important;
}
