body {
    font-size: 12px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20pt;
    text-align: center;
}

h2 {
    font-size: 17pt;
    text-align: center;
}

h3 {
    font-size: 14pt;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000;   
}

/*table tr td,
table tr th,
table thead th,
table thead tr th,
table thead tr td,
table tr,
table thead
{
	page-break-inside: avoid !important;

}*/

.div-table-col{
	border: 1px solid #000;
}

td {
    border: 1px solid #000;
    font-size: 12.75px;
    padding: 1px;
}


.center {
    text-align: center;
}

.green {
    color: GREEN;
}

.red {
    color: RED;
}

.black {
    color: #000;
}

.nowrap {
    white-space: nowrap;
}

.graph_width{
    width: 90%;
}

.graph_width_75{
    width: 75%;
}

.table_width{
    width: 98%;
    margin: 0 auto;
}

td.labels{
    border: 1px solid #000;
    font-size: 12px;
}

.table_width td.labels{
    font-size: 10px;
}

.toc ul {
    list-style: none;
}

.toc li {
    margin-top: 3px;
}

.page_height{
    height: 980px;
    position: relative;
    width: 100%;
}

.clear{
    clear: both;
}

.justify {
    text-align: justify;
}

.pdf_title{
	margin-top: 30px;
	display: block;
}

table.smallfont td{
	font-size: 10px !important;
}

table.smallestfont td{
    font-size: 9px !important;
}