
#upload-border {
    height: 50px;
    border: 1px solid #348998;
    display: inline-block;
    padding-left: 7px;
    margin: 20px 0;
    width: 460px;
}

#upload-name{
  height: 100%;
  border: none;
  background: none;
  width: 65%
}

#upload-button {
    height: 100%;
    letter-spacing: 2px;
    padding: 6px 40px;
    border: none;
    background: #348998;
    color: white;
    cursor: pointer;
    font-size: 16px;
    float: right;
    text-transform: uppercase;
    width: 35%;
}

#upload-name:focus, #upload-button:focus{
  outline:none;
}


.table th, .table td {
    font-size: 16px;
}

.table td button[type="button"] {
  border: none;
    font-size: 12px;
    padding: 10px 15px;
}

.table td .btn-info {
  background-color: #348998;
}


/* loader */
#loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0,0,0,0.75) url(1488.gif) no-repeat center center;
  z-index: 10000;
}


/*-designer-*/
button.sub {
    background: #cb2525;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 14px 50px;
    font-size: 16px;
    letter-spacing: 2px;
}
form
{
	margin-bottom: 30px !important;
}
.table > thead > tr > th
{
	padding:25px !important;
}
.table-bordered > thead > tr > th {
    padding: 15px !important;
    background: #348998;
    color: #fff;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: 600;
}
tr th, td {
    padding: 21px !important;
    font-size: 16px !important;
	line-height:1.8;
	font-weight:500;
}
.btn-danger
{
	background-color: #cb2525 !important;
}
h3.upload {
    font-weight: 700;
}
.upload
{
	display: flex;
    align-items: center;
}
tr th
{
	text-align: center;
}
th.file {
    text-align: left;
}
.tbl-res-cs table tbody tr th {
    font-weight: 600;
}

@media only screen and (max-width:1199px){

  .tbl-res-cs table tr td, .tbl-res-cs table tr th {
    padding: 13px 12px !important;
}

.table td button[type="button"] {
    margin-bottom: 6px;
}

}

.pagination {
  display: inline-block;
}

/* .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
} */

/* .pagination a.active {
  background-color: #348998;
  color: white;
  border: 1px solid #348998;
} */

.pagination a:hover:not(.active) {background-color: #ddd;}

.form-recognizer-pagination .pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.form-recognizer-pagination {
    text-align: right;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px 10px 3px;
    /* background: #348998; */
}

.tbl-res-cs table {
    margin-bottom: 0;
}
/* custom pagination  */

.page-item.active .page-link{
    color: #fff !important  ;
    background-color: #348998 !important;
    border-color: #348998 !important;
}

.page-link{
    color: black !important;
    background-color: #fff;
    border-color: #007bff;
    padding: 8px 16px !important;
}

.page-item:first-child .page-link{
    border-radius: 0;
}
.page-item:last-child .page-link{
    border-radius: 0;
}

@media only screen and (max-width:767px){

  button.sub {
    padding: 14px 30px;
    font-size: 16px;
    margin-left: 0;
  }

  #upload-border {
      width: 100%;
  }

  .upload {
      flex-wrap: wrap;
  }

  .tbl-res-cs {
      overflow: auto;
      display: inline-block;
      width: 100%;
  }

  #upload-button {
      letter-spacing: 1px;
      padding: 6px 20px;
      font-size: 15px;
  }

}

/*-designer-*/
