.resource-management-form input{
  /* width: 50%; */
  padding: 20px;
  border: 2px solid #348998;
  color: #348998;
  /* font-weight : bold; */
  font-size: 15px;
}

.resource-management-form label{
  text-align: right;
  color: #348998;
  padding-top: 8px;
}

.resource-management-form button{
  color: white;
  background-color: #348998;
  padding-top: 8px;
  border: 2px solid #348998;
  font-weight : bold;
  padding: 8px 24px;
}

.resource-management-form button:hover{
  background-color:#fff;
  border: 2px solid #348998;
  color : #348998;
}

h4 {
   width: 100%;
   text-align: center;
   border-bottom: 1px solid #348998;
   line-height: 0.1em;
   margin: 10px 0 20px;
}

h4 span {
    background:#fff;
    padding:0 10px;
    color : #348998;
}
/* .api-form-group{
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 70px;
}

.api-form-group label{
  text-align: right;
  color: #348998;
  padding-top: 8px;
}

.api-form-group input{
  width: 75%;
  padding: 8px;
  border: 2px solid #348998
} */

.table th, .table td {
    font-size: 16px;
}

.table td button[type="button"] {
  border: none;
    font-size: 12px;
    padding: 10px 15px;
}

.table td .btn-info {
  background-color: #348998;
}

/*-designer-*/
button.sub {
    background: #cb2525;
    border: none;
    color: #fff;
    text-transform: uppercase;
    margin-left: 30px;
    padding: 14px 50px;
    font-size: 16px;
    letter-spacing: 2px;
}
form
{
	margin-bottom: 30px !important;
}
.table > thead > tr > th
{
	padding:25px !important;
}
.table-bordered > thead > tr > th {
    padding: 15px !important;
    background: #348998;
    color: #fff;
    font-size: 18px !important;
    text-transform: uppercase;
    font-weight: 600;
}
tr th, td {
    padding: 21px !important;
    font-size: 16px !important;
	line-height:1.8;
	font-weight:500;
}
.btn-danger
{
	background-color: #cb2525 !important;
}
h3.upload {
    font-weight: 700;
}
.upload
{
	display: flex;
    align-items: center;
}
tr th
{
	text-align: center;
}
th.file {
    text-align: left;
}
.tbl-res-cs table tbody tr th {
    font-weight: 600;
}

@media only screen and (max-width:1199px){

  .tbl-res-cs table tr td, .tbl-res-cs table tr th {
    padding: 13px 12px !important;
}

.table td button[type="button"] {
    margin-bottom: 6px;
}

}

.pagination {
  display: inline-block;
}

/* .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
} */

/* .pagination a.active {
  background-color: #348998;
  color: white;
  border: 1px solid #348998;
} */

.pagination a:hover:not(.active) {background-color: #ddd;}

.form-recognizer-pagination .pagination {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.form-recognizer-pagination {
    text-align: right;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px 10px 3px;
    /* background: #348998; */
}

.tbl-res-cs table {
    margin-bottom: 0;
}
/* custom pagination  */

.page-item.active .page-link{
    color: #fff !important  ;
    background-color: #348998 !important;
    border-color: #348998 !important;
}

.page-link{
    color: black !important;
    background-color: #fff;
    border-color: #007bff;
    padding: 8px 16px !important;
}

.page-item:first-child .page-link{
    border-radius: 0;
}
.page-item:last-child .page-link{
    border-radius: 0;
}

@media only screen and (max-width:767px){

  button.sub {
    padding: 14px 30px;
    font-size: 16px;
    margin-left: 0;
  }

  #upload-border {
      width: 100%;
  }

  .upload {
      flex-wrap: wrap;
  }

  .tbl-res-cs {
      overflow: auto;
      display: inline-block;
      width: 100%;
  }

  #upload-button {
      letter-spacing: 1px;
      padding: 6px 20px;
      font-size: 15px;
  }

}

/*-designer-*/



/* The alert message box */
.alert {
  padding: 20px;
  /* background-color: #f44336; /* Red */ */
  color: white;
  margin-bottom: 15px;
  clear: both;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
