div#footer,
div#wrapper .navbar,
div#wrapper .col-sm-4,
div#hint_modal,
div#chartcontainer  > div > label
{
	display: none;
}
div#page-wrapper { padding: 0; }
div#wrapper .col-sm-8 { width: 100%; }
#jivo-iframe-container { right: 1000px !important; }