body {background-color: #fff;font-family: 'proxima_nova_rgregular';color:#333333;}
body a{color:#055688;}    
a.btn-green{background-color:#46b789;min-width:100px;padding:7px 22px;color:#fff;text-decoration:none;font:16px 'proxima_nova_ltsemibold';border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;float:left;}
a.btn-green:hover{background-color:#2fa273;}
a.btn-green:active{background-color:#61756d;}

/*================== Dashboard page Styles ==================*/
#wrapper {width: 100%;}
#page-wrapper {padding:0 15px;min-height:480px;background-color: #fff;}

.navbar-default{background-color:#fff;}
/* .sidebar-nav{background-color:#fcfbf7;} */
.navbar-top-links {margin-right: 0;}
.navbar-top-links > li {display: inline-block;}
.navbar-top-links > li:last-child {margin-right: 15px;}

.nav.navbar-top-links > li > a{padding:20px 5px;min-height: 50px;}
.nav.navbar-top-links > li > span{padding:20px 5px;min-height: 50px;}
.nav.navbar-top-links > li > a img{margin: 0px 7px 0 0;}    
.nav.navbar-top-links > li > a:hover{background-color:transparent;color:#000;}  

.nav.navbar-top-links > li > ul{
	display: none; 
	position: absolute;
    right: 0;
    top: 22px;
    width: 135px;
    list-style: none;
    padding: 10px;
    font-size: 11px;
    background-color: #FFF;
    border: 1px solid #eee;
    text-align: right;
}
.nav.navbar-top-links > li:hover > ul{display: block;}


/*---Left Nav Bar Styles----*/
.sidebar ul li a{color:#78797f;}
.sidebar ul li a.active{background-color:#46b789;}
.sidebar ul li.busdet a{background:url(../images/business-details.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.busdet a.active{background:url(../images/business-details-active.png) no-repeat 14px 14px;padding-left:38px;color:#fff;background-color:#46b789;}
.sidebar ul li.credfac a{background:url(../images/credit-facilities.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.condsus a{background:url(../images/cond-sus.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.planfac a{background:url(../images/Planned-facility-structure.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.futursourc a{background:url(../images/future-source-capital.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.owndet a{background:url(../images/owner-details.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.ressum a{background:url(../images/result-summary.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.ressum a.active{background:url(../images/result-summary-active.png) no-repeat 14px 14px;padding-left:38px;color:#fff;background-color:#46b789;}
.sidebar ul li.finanal a{background:url(../images/financial-analysis.png) no-repeat 14px 14px;padding-left:38px;}
.sidebar ul li.stratpro a{background:url(../images/stategic-profile.png) no-repeat 14px 14px;padding-left:38px;}

.sidebar ul li a:hover{background-color:#f7f5ee;}
.sidebar ul li a.active{no-repeat 14px 14px;padding-left:38px;color:#fff;background-color:#46b789;}

.cont-box{border:1px solid #e3e8e8;background-color:#fff;padding:15px 20px;border-radius: 4px 4px 4px 4px;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border: 1px solid #e3e8e8;margin-bottom:20px;}

/*================== Business Details page ==================*/
.page-title{border-bottom:1px solid #e9e9e9;padding-bottom:10px;margin-bottom:20px;}
.page-title h3{font:16px 'proxima_nova_ltsemibold';margin:0;}
.progress-cont{text-align:right;}

/*----Progress Bar Styles-----*/
.demo-wrapper{width:300px;float:right;}
.html5-progress-bar progress{background-color:#f3f3f3;border:0;width:65%;height:6px;border-radius:9px}
.html5-progress-bar progress::-webkit-progress-bar{background-color:#f3f3f3;border-radius:9px}
.html5-progress-bar progress::-webkit-progress-value{background:#4dc192;background:-moz-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4dc192),color-stop(100%,#46b789));background:-webkit-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-o-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-ms-linear-gradient(top,#4dc192 0%,#46b789 100%);background:linear-gradient(to bottom,#4dc192 0%,#46b789 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc192',endColorstr='#46b789',GradientType=0);border-radius:9px}
.html5-progress-bar progress::-moz-progress-bar{background:#4dc192;background:-moz-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4dc192),color-stop(100%,#46b789));background:-webkit-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-o-linear-gradient(top,#4dc192 0%,#46b789 100%);background:-ms-linear-gradient(top,#4dc192 0%,#46b789 100%);background:linear-gradient(to bottom,#4dc192 0%,#46b789 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4dc192',endColorstr='#46b789',GradientType=0);border-radius:9px}
.html5-progress-bar .progress-value{line-height:20px;margin:2px 5px 0 0;font-size:12px;color:#555;height:18px;}

/*----Accordion Styles-----*/
.accord-cont{margin-top:20px;}
.accord-cont a{text-decoration:none;} 
.accord-cont span.glyphicon{font-size:12px;color:#909aa0;margin-right:5px;}
.accord-cont h4.panel-title{font:14px 'proxima_nova_ltsemibold'; color:#000;text-transform:uppercase;}
.accord-cont h4.panel-title a:hover{color:#000;}
.accord-cont .table-striped{background-color:#fbfbfb;}
.accord-cont .table-striped tr td{padding:10px 5px 10px 15px;font:13px 'proxima_nova_ltsemibold';}
.accord-cont .table-striped tr td a{color:#2a99c6;}
.accord-cont .table-striped tr td a:hover{color:#000;}
.accord-cont .table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #fff;}

.list-td{
	background-color: #055688;
	color: #fff;
	font-weight: bold;
}

.tab-content > .tab-pane {
    display: none;
}
.tab-content > .active {
    display: block;
}

img.sumpopup {
	width: 12px; cursor: pointer;
}

span.prelimdefault{
	color: RED;
	font-size: 17px;
}

#fa_print,#printthis, #emailthis, #privatelink, #generate-fspdf, #dev-ref-link, .bluebutton, #printdscr {
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px 15px;
	border: solid 1px #056fc4;
	color: #fff;
	background-color: #2a99c6;
	cursor: pointer;
	float: right;
	margin-left: 10px;
}


.ribbon-wrapper-green {
	height: 50px;
    overflow: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
}

.ribbon-green {
  font-size: 10px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 2px 0;
  left: -3px;
  top: 9px;
  width: 72px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-green:before, .ribbon-green:after {
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon-green:before {
  left: 0;
}

.ribbon-green:after {
	right: 0;
}

/*investigator controls*/
.investigator-control { float: right; position: relative; }
.glyphicon-ok { color: GREEN; }
.glyphicon-alert { color: RED; }
.investigator-note { display: none; position: absolute; width: 200px; top: 0px; border: 1px solid rgb(204, 204, 204); padding: 10px; background-color: rgb(255, 255, 255); right: 18px; z-index: 2; }


/*---------progress bar-------------*/
.progress-check { background: url(../images/progress_check.png) no-repeat transparent; height: 14px; width: 14px; margin-top: -8px; position: absolute; right: 10px; top: 50%;}
.progress-dots { background: url(../images/progress_dots.png) no-repeat transparent; height: 14px; width: 15px; margin-top: -8px; position: absolute; right: 10px; top: 50%;}
.progressbar-container { float: right; }
.progressbar-container > div { display: inline-block; }
.progressbar-container .progressbar-count { font-size: 13px; }
.progressbar-container .progressbar-wrap { position: relative; height: 11px; width: 167px; }
.progressbar-container .progressbar-wrap > div { position: absolute; top: 0; left: 0; height: 11px; width: 167px; margin-top: 2px; }
.progressbar-container .progressbar-wrap .progressbar-empty { background: url(../images/progress_empty.png) no-repeat transparent; z-index: 1; }
.progressbar-container .progressbar-wrap .progressbar-full { background: url(../images/progress_full.png) no-repeat transparent; z-index: 2; width: 0%;}
.progress-required-counter, .completeness_check, .progress-field-counter { display: none; }

.icon-full { background: url(../images/icon_full.png) no-repeat transparent; height: 14px; width: 14px; margin-top: -8px; position: absolute; right: 15px; top: 50%;}
.icon-half { background: url(../images/icon_half.png) no-repeat transparent; height: 14px; width: 14px; margin-top: -8px; position: absolute; right: 15px; top: 50%;}

.chart-container {
	float: left; 
	width: 100%; 
	border: 1px solid grey; 
	padding:20px; 
	margin-bottom: 10px;
}
.panel-link {
	font-size: 12px;
}
.panel-link:hover {
	text-decoration: none;
	color: #000;
}
.panel-link  hr{
	margin-top: 10px;
	margin-bottom: 10px;
}
.cycle-input{
	border: 0 none;
    font-size: 14px;
    padding: 5px;
    text-align: right;
    width: 100%;
}
.cycle-input.cycle-error {
    color: RED;
}
.investigator-docs label{
	display: block;
	font-weight: normal;
}
#credit_risk_rating_submit[disabled]
{
	background: #888888;
}
.grouping
{
  display: block;
  width: 100%;
  float: left;
}
a.popup-hint-header
{
	color: #fff;
	float: right;
	font-size: 12px;
}
a.popup-hint-content
{
	float: right;
	font-size: 12px;
}
a.popup-hint-header:hover
{
	text-decoration: underline;
	color: #2a99c6;
}
#hint_modal .icon-more-info
{
	color: #2a99c6;font-size: 24px;position: relative;top: 5px;
}
#hint_modal .modal-body hr
{
	margin-top: 10px;
	margin-bottom: 10px;
}

.filter4 { display: none; }
.investigator_file_container { display: none; }
#bank-sme-listing-filter select{ max-width: 400px;}

.rating_panel_switcher span{
	display: inline-block;
    font-size: 13px;
    padding: 3px 10px;
	z-index: 10;
	cursor: pointer;
}
.rating_panel_switcher span.active{
	border-radius: 7px 7px 0 0;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-weight: bold;
    border-bottom: 1px solid #FFF;
    position: relative;
    top: 1px;
}
.bank_rating_panel { display: none; }
.statistics_buttons a { width: 30%;}
#chartcontainer > div { padding: 10px; }
#chartcontainer > div > div { width: 100%; }
#chartcontainer > div.selected { 
	background-color: #dae4ed;
    border-radius: 10px;
    box-shadow: 0 0 15px #888;
}
#chartcontainer .chart_select { visibility: hidden; }
#chartcontainer > div > label { cursor: pointer; }
#upload-file-container .bs_add { display: none; }
#upload-file-container input.datepicker { width: 100px; }
#upload-file-container input[type=file] { width: 200px; }

#formula_panel span { font-weight: bold; }
#formula_panel ul li{ list-style-type: none; padding: 4px 0 0 2px; position: relative; line-height: 20px; }
#formula_panel span { border: 1px solid #ccc; display: inline-block; padding: 2px 4px; }
#formula_panel ul li:last-child::before {
	height: 55%;
}
#formula_panel ul li::before { 
	border-left: 1px solid #ccc;
    height: 100%;
    top: 0;
    width: 1px;
}
#formula_panel ul li::after {
	border-top: 1px solid #ccc;
    top: 16px;
    width: 22px;
}
#formula_panel ul li::before, #formula_panel ul li::after {
	content: '';
    left: -20px;
    position: absolute;
    right: auto;
}

#formula_panel > ul > li > span.iw_box { background-color: #afffb9; }
#formula_panel > ul > li > span { background-color: #FFE5A0; }
#formula_panel > ul > li > ul > li > span { background-color: #A0DFFF; }
#formula_panel > ul > li > ul > li > span.red { color: RED; background-color: #FFFFFF; border: 0 none; }
#formula_panel .add_new_section_btn .green { color: #06ce1d; background-color: #FFFFFF; border: 0 none;}
#formula_panel .glyphicon-remove { cursor: pointer; }
#formula_modal .error-message { color: RED; }
.formula_save_status{ font-weight: bold; color: GREEN;}

#footer {
	width: 100%;
    background-color: #FFF;
    border-top: 1px solid #e7e7e7;
    padding: 5px 20px 0 20px;
    font-size: 12px;
    line-height: 12px;
    color: #778a9c;
    text-align: center;
}

#footer table{
	margin: 0px auto 20px;
}
#footer p {
	margin: 0 0 4px;
}
#footer .small {
	font-size: 10px;
	line-height: 10px;
}
.falsefooter{
	font-size: 12px;
    line-height: 12px;
    color: #778a9c;
	text-align: right;
}
.falsefooter p {
	margin: 0 0 4px;
}
.falsefooter .small {
	font-size: 10px;
	line-height: 10px;
}
.falsefooter > div{
	margin-bottom: 20px;
}

#dscrSlider {
	width: 100%;
}

.rating-summary-padding-table td {
	padding: 2px 0;
	font-size: 14px;
}

.numeric100error{
	border-color: RED;
}

#nav_registration1_next, 
#nav_registration2_prev,
#nav_registration2_next,
#nav_payfactor_prev,
#nav_payfactor_next,
#nav_bcs_prev,
#nav_bcs_next,
#nav_pfs_prev,
#nav_pfs_next,
#nav_ownerdetails_prev,
#nav_ownerdetails_next {
	margin-right: 5px;
	float: left;
	display: block;
}

.create-external-link {
	font-size: 13px;
}

.btn-submit-col{
	width: 48%;
	float: left;
}

.btn-submit-col2{
	width: 50%;
	float:right;
}

.edit-input-cntr select{
	max-width: 450px;
}

.transcribe-login{
	max-width: 400px;
}

a.adisabled {
  pointer-events: none;
  cursor: default;
}

/*================== Media Queries for Dashboard page ==================*/


@media(min-width: 1200px) {
	.chart-remove-padding .col-lg-12,
	.chart-remove-padding .col-lg-6{
		padding-left: 5px;
		padding-right: 5px;
	}
}

@media(min-width:768px) {

    #page-wrapper {position:relative;z-index:1000;margin:0px 0 0 250px;padding: 20px;border-left: 1px solid #ececec;-webkit-box-shadow: -1px 0px 3px #E0E0DE; box-shadow: -1px 0px 2px #E0E0DE;background-color:#fdfdfd;}
   .sidebar {z-index: 1;position: absolute;width: 250px;margin-top:80px;}
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse
	{
		max-height: 100%;
	}
}


@media(max-width:768px) {
	.navbar-top-links li{ display: block; height: auto; border-bottom: 1px solid rgba(000,000,000,0.1);}
	.navbar-top-links li a {margin-left:10px; padding: 10px 0;}
    #page-wrapper{padding-top:20px;}
	
	/*----Business Details Page----*/
	.demo-wrapper{float:left;margin-top:10px;}
	.progress-cont{text-align:left;}
	/*--- Login Page --*/
    #loginwrapper.container {
        padding: inherit;
        width: 90%;
    }
    #loginwrapper.container form{
        width:100%;
    }
    #emailthis, .btn-print {
		text-align: center;
		width: 100%;
		display: block;
		margin: 0;
	}
	.text-sm-xs-small{
		font-size: 12px;
		top: -5px;
	}
	.panel-body{ padding: 0;}
	#footer .small {
		display: none;
	}
	#nav-line{
		display: none;
	}
}

@media (max-width: 560px) {
	.chart-container {
		padding: 10px;
		min-width: 500px;
	}
}

/* Added for SMESummary */
.phone_validation{
	border: 1px solid #ce1e1e;
}

.validation_text {
	font-size: 10px;
}

#radioBtn .notActive{
    color: #3276b1;
    background-color: #fff;
}

/* Added for Payment page */
.payment-invoice{
	width: 100%;
}

.invoice-logo{
	max-width: 350px;
}

.clear{
	clear: both;
}

.invoice-logo-img{
	width: 325px;
}

.invoice-label{
	color:#23527c;
}

.invoice-no-details-div{
	min-width: 240px;
}

.inv-details-left{
	text-align: right;
	width: 115px;
	display: block;
	float: left;
	margin-right: 10px;
}

.inv-details-right{
	float: right;
	width: 120px;
}

.invoice-table{
	width: 100%;
	margin-top: 20px;
}

.invoice-table th{
	color:#23527c;
	background: #dce9f1;
}

.invoice-table th{
	padding: 3px;
	text-align: center;
}

.invoice-table td{
	padding: 10px 20px;
}

.payment-details-message{
	margin-top: 50px;
}

.td-balance-due{
	border-top: 1px dashed #333333;
}

/* google map */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */
/*html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}*/

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  margin: 10px 10px 0 0;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-family: Roboto;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 9999;   
}

.modalMap{
	z-index: 20 !important;
}

.matching_checkbox{
	margin-right: 20px;
	font-weight: bold;
	color: #055688;
}

.form_row{
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.form_row_col{
	margin-bottom: 15px;
	float: left;
	width: 100%;
}

.center-error-message{
	text-align: center;
}

.big-btn{
	width: 200px;
	padding: 20px;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
}