@page {
    size: Letter portrait;
    margin: 0 10mm;
    background-color: white !important;
}

body {
    /*page-break-before: avoid;*/
    -webkit-print-color-adjust:exact;
}

* {
    font-size: 7pt !important;
}

div#footer,
div#wrapper .navbar,
#user-2fa-form-modal,
#modal-upd-approval,
#modal-approval-process,
#hint_modal,
#bank-sme-listing-filter,
#bank-dev-codes,
.no-print {
    display: none !important;
}

.print-only {
    display: block !important;
}

.company-logo {
    margin-top: 10mm;
}

#entitydata {
    margin-top: 5mm !important;
    width: 100%;
    max-width: 100%;
    object-fit: fill;
    border-collapse: collapse;
}

#entitydata td, #entitydata th {
    border: 1px solid #ddd;
    padding: 8px !important;
}

#entitydata th {
    color: #fff;
    vertical-align: bottom !important;
    border-top: 0 !important;
}

#entitydata td {
    /*border: 1px solid #000;*/
    word-wrap: break-word !important;
    word-break: break-word !important;
    vertical-align: top !important;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}

a[href]:after {
    content: none !important;
}

a {
    color: #337ab7 !important;
    text-decoration: none !important;
}

.emailInput {
    width: 100%; 
    padding: 15px; 
    display: block; 
    margin: 0 auto;
}

.spinnerClass{
    top: 50% !important;
    left: 50% !important;
    transform: traslate(-50%,-50%) !important;
    margin: 0px !important;
}