.terms-section ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
.terms-section ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 6px 2em; /* Give each list item a left margin to make room for the numbers */
	padding:4px 8px; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
}
.terms-section ol > li:before {
	content:counters(li, ".") "."; /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:0px;
	left:-3em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	margin-right:8px;
	padding:4px;
	/* font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif; */
	text-align:center;
}
.terms-section li ol, .terms-section li ul {
    margin-top:6px;
}
.terms-section ol ol li:last-child {
    margin-bottom:0;
}

ol.enclosed-numbers > li:before {
    content:"("counter(li) ")"; /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
}