.tut-modal
{
	z-index: 10001;
	background-color: #EFF2B9;
	position: absolute;
	box-shadow: 0px 0px 18px 0px;
	padding: 20px;
	top: 50%;
	left: 50%;
	display: none;
}
.tut-modal p
{ 
	font-size: 14px; 
	font-weight: bold; 
}
.tut-modal .tut-continue-btn,
.tut-modal .tut-skip-btn
{
	display: inline-block; 
	width: 50%;
	text-align: center;
	font-weight: bold;
}
.tut-modal .tut-next-btn
{
	display: block; 
	width: 100%; 
	text-align: right;
	font-weight: bold;
}
.tut-overlay
{
	height: 100%;
	width: 100%;
	z-index: 10000;
	background-color: #000;
	opacity: 0.5;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
}
.tut-modal.arrow_box {
	border: 2px solid #f50000;
	box-shadow: none;
}
.arrow_box_top:after, .arrow_box_top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_top:after {
	border-color: rgba(239, 242, 185, 0);
	border-bottom-color: #EFF2B9;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box_top:before {
	border-color: rgba(245, 0, 0, 0);
	border-bottom-color: #f50000;
	border-width: 23px;
	margin-left: -23px;
}
.arrow_box_right:after, .arrow_box_right:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_right:after {
	border-color: rgba(239, 242, 185, 0);
	border-left-color: #EFF2B9;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box_right:before {
	border-color: rgba(245, 0, 0, 0);
	border-left-color: #f50000;
	border-width: 23px;
	margin-top: -23px;
}
.arrow_box_bottom:after, .arrow_box_bottom:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.arrow_box_bottom:after {
	border-color: rgba(239, 242, 185, 0);
	border-top-color: #EFF2B9;
	border-width: 20px;
	margin-left: -20px;
}
.arrow_box_bottom:before {
	border-color: rgba(245, 0, 0, 0);
	border-top-color: #f50000;
	border-width: 23px;
	margin-left: -23px;
}
.arrow_box_left:after, .arrow_box_left:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box_left:after {
	border-color: rgba(239, 242, 185, 0);
	border-right-color: #EFF2B9;
	border-width: 20px;
	margin-top: -20px;
}
.arrow_box_left:before {
	border-color: rgba(245, 0, 0, 0);
	border-right-color: #f50000;
	border-width: 23px;
	margin-top: -23px;
}