<div class="row">
  <div class="col-sm-6">
    <label id="dscr_slider_display">DSCR: <%- dscrVars.dscrc %>x</label>
    <input id="dscr_slider"
      type="text"
      data-slider-id="dscrSlider"
      data-slider-min="0" data-slider-max="5"
      data-slider-step="0.01"
      data-slider-value="<%- dscrVars.dscrc %>"
      class="form-control" />
  </div>

  <div class="col-sm-6">
    <label>Total Loan Duration (months)</label>
    <input class="form-control" type="text" id="ds_tenor_value" value="<%- dscrVars.loanDuration %>" />
  </div>

  <div class="col-sm-6">
    <label>Source</label>
    <div class="row">
      <div class="col-sm-12 form-inline">
        <div class="form-group" style="width: 100%">
          <select id="dscr-source" class="form-control" style="width: 48%">
            <% if (typeof dscrVars.sources.NetOperatingIncome !== 'undefined') { %>
              <option id="source-noi" value="NetOperatingIncome"
                <% if (dscrVars.source === 'NetOperatingIncome') { %>selected<% } %>>
                NOI (Net Operating Income)
              </option>
            <% } %>
            <% if (typeof dscrVars.sources.NetCashByOperatingActivities !== 'undefined') { %>
              <option value="NetCashByOperatingActivities"
                <% if (dscrVars.source === 'NetCashByOperatingActivities') { %>selected<% } %>>
                Net Cash Flow
              </option>
            <% } %>
            <% if (typeof dscrVars.sources.ADB !== 'undefined') { %>
              <option value="ADB"
                <% if (dscrVars.source === 'ADB') { %>selected<% } %>>
                Average Daily Balance
              </option>
            <% } %>
            <% if (typeof dscrVars.sources.Custom !== 'undefined') { %>
              <option value="Custom"
                <% if (dscrVars.source === 'Custom') { %>selected<% } %>>
                Custom
              </option>
            <% } %>
          </select>
          <input id="ds_noi_value"
            type="text"
            class="form-control"
            <% if (dscrVars.source !== 'Custom') { %>
              readonly="readonly"
            <% } %>
            value="<%- number_format(parseFloat(dscrVars.noiStatic), 2, '.', ',') %>"
            style="width: 50%" />
        </div>
      </div>
    </div>
    <div>
      <p style="color:red;" id="inadvisable_result" value="It is inadvisable to issue credit under these conditions"><strong>It is inadvisable to issue credit under these conditions.</strong></p>
    </div>
  </div>

  <div class="col-sm-6">
    <label><%- trans('rcl.loan_amount') %></label>
    <input id="ds_loan_value"
      class="form-control"
      readonly="readonly"
      type="text"
      value="<%- dscrVars.loanAmount %>" />
  </div>

  <div class="col-sm-12" style="margin-top: 10px; text-align: right;">
    <button class="btn btn-primary"
      data-value="0"
      id="export-dscr-btn" disabled="disabled">
       <span data-toggle="tooltip" data-placement="top" title="Clicking this button will add these details to the report summary.">Getting status..</span>
    </button>
    <button class="btn btn-primary"
      data-value="0"
      id="custom-interest-rate-btn">
      <%- trans('rcl.custom_interest_rate') %>
    </button>
    <button class="btn btn-primary"
      data-value="0"
      id="print-computation-btn">
      <%- trans('rcl.print_computation') %>
    </button>
  </div>
</div>

<table class="table table-striped table-bordered" style="margin-top: 20px;">
  <tr>
    <td>&nbsp;</td>
    <td colspan="4" align="center">
      <b><%- trans('rcl.working_capital_2') %> (1 Year or Less)</b>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td><%- trans('rcl.interest_rate') %></td>
    <td><%- trans('rcl.period') %></td>
    <td><%- trans('rcl.interest_income_per_period') %></td>
    <td><%- trans('rcl.total_interest_income') %></td>
  </tr>

  <tr>
    <td>
      <b><%- trans('rcl.local_banks') %></b>
    </td>
    <td id="dscr-data-local-low">
      <span></span>
      <input type="number" class="form-control" style="width: 150px; display: none" />
    </td>
    <td id="WCLocalValuePeriod"></td>
    <td id="WCLocalValuePayment"></td>
    <td id="WCLocalValueTotalPayment"></td>
  </tr>

  <tr>
    <td>
      <b><%- trans('rcl.foreign_banks') %></b>
    </td>
    <td id="dscr-data-foreign-low">
      <span></span>
      <input type="number" class="form-control" style="width: 150px; display: none" />
    </td>
    <td id="WCForeignValuePeriod"></td>
    <td id="WCForeignValuePayment"></td>
    <td id="WCForeignValueTotalPayment"></td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td colspan="4" align="center">
      <b><%- trans('rcl.term_loan') %> (More than 1 year)</b>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td><%- trans('rcl.interest_rate') %></td>
    <td><%- trans('rcl.period') %></td>
    <td><%- trans('rcl.payment_per_period') %></td>
    <td><%- trans('rcl.total_loan_payment') %></td>
  </tr>

  <tr>
    <td>
      <b><%- trans('rcl.local_banks') %></b>
    </td>
    <td id="dscr-data-local-mid">
      <span></span>
      <input type="number" class="form-control" style="width: 150px; display: none" />
    </td>
    <td id="TLLocalValuePeriod"></td>
    <td id="TLLocalValuePayment"></td>
    <td id="TLLocalValueTotalPayment"></td>
  </tr>

  <tr>
    <td>
      <b><%- trans('rcl.foreign_banks') %></b>
    </td>
    <td id="dscr-data-foreign-mid">
      <span></span>
      <input type="number" class="form-control" style="width: 150px; display: none" />
    </td>
    <td id="TLForeignValuePeriod"></td>
    <td id="TLForeignValuePayment"></td>
    <td id="TLForeignValueTotalPayment"></td>
  </tr>
</table>

<small>*<%- trans('rcl.dscr_hint') %></small>

<table class="table table-striped table-bordered" style="margin-top: 20px;">
  <tr>
    <td>&nbsp;</td>
    <td><%- parseInt(year) %></td>
    <td><%- parseInt(year - 1) %></td>
  </tr>

  <tr>
    <td><%- trans('rcl.trade_other_receivables') %></td>
    <td>
      <%- number_format(parseFloat(dscrVars.tradeAndOtherCurrentReceivables[0]), 2, '.', ',') %>
    </td>
    <td>
      <%- number_format(parseFloat(dscrVars.tradeAndOtherCurrentReceivables[1]), 2, '.', ',') %>
    </td>
  </tr>

  <tr>
    <td><%- trans('rcl.trade_current_payables') %></td>
    <td>
      <%- number_format(parseFloat(dscrVars.tradeAndOtherCurrentPayables[0]), 2, '.', ',') %>
    </td>
    <td>
      <%- number_format(parseFloat(dscrVars.tradeAndOtherCurrentPayables[1]), 2, '.', ',') %>
    </td>
  </tr>

  <tr>
    <td><%- trans('rcl.current_provisions_employee') %></td>
    <td>
      <%- number_format(parseFloat(dscrVars.currentProvisionsForEmployeeBenefits[0]), 2, '.', ',') %>
    </td>
    <td>
      <%- number_format(parseFloat(dscrVars.currentProvisionsForEmployeeBenefits[1]), 2, '.', ',') %>
    </td>
  </tr>

  <tr>
    <td><%- trans('rcl.cost_of_sales') %></td>
    <td><%- number_format(parseFloat(dscrVars.costOfSales[0]), 2, '.', ',') %></td>
    <td><%- number_format(parseFloat(dscrVars.costOfSales[1]), 2, '.', ',') %></td>
  </tr>

  <tr>
    <td><%- trans('rcl.inventories') %></td>
    <td><%- number_format(parseFloat(dscrVars.inventories[0]), 2, '.', ',') %></td>
    <td><%- number_format(parseFloat(dscrVars.inventories[1]), 2, '.', ',') %></td>
  </tr>

  <tr>
    <td><%- trans('rcl.revenue') %></td>
    <td><%- number_format(parseFloat(dscrVars.revenue[0]), 2, '.', ',') %></td>
    <td><%- number_format(parseFloat(dscrVars.revenue[1]), 2, '.', ',') %></td>
  </tr>

  <tr>
    <td><%- trans('rcl.interest_expense') %></td>
    <td><%- number_format(parseFloat(dscrVars.interestExpenses[0]), 2, '.', ',') %></td>
    <td><%- number_format(parseFloat(dscrVars.interestExpenses[1]), 2, '.', ',') %></td>
  </tr>
</table>
