<div class="row">
  <div id="printarea">
    <div class="col-sm-6">
      <label id="dscr_slider_display">DSCR: <%- dscrVars.dscrc %>x</label>
      <input id="dscr_slider" type="text" data-slider-id="dscrSlider" data-slider-min="0" data-slider-max="5"
        data-slider-step="0.01" data-slider-value="<%- dscrVars.dscrc %>" class="form-control"
        data-slider-enabled="false" />
    </div>

    <div class="col-sm-6">
      <label>Total Loan Duration (months)</label>
      <input class="form-control" type="text" id="ds_tenor_value" value="<%- dscrVars.loanDuration %>" disabled />
    </div>

    <div class="col-sm-6">
      <label>Source</label>
      <div class="row">
        <div class="col-sm-12 form-inline">
          <div class="form-group" style="width: 100%">
            <select id="dscr-source" class="form-control" style="width: 48%" disabled>
              <% if (typeof dscrVars.sources.NetOperatingIncome !== 'undefined') { %>
              <option id="source-noi" value="NetOperatingIncome"
                <% if (dscrVars.source === 'NetOperatingIncome') { %>selected<% } %>>
                NOI (Net Operating Income)
              </option>
              <% } %>
              <% if (typeof dscrVars.sources.NetCashByOperatingActivities !== 'undefined') { %>
              <option value="NetCashByOperatingActivities"
                <% if (dscrVars.source === 'NetCashByOperatingActivities') { %>selected<% } %>>
                Net Cash Flow
              </option>
              <% } %>
              <% if (typeof dscrVars.sources.ADB !== 'undefined') { %>
              <option value="ADB" <% if (dscrVars.source === 'ADB') { %>selected<% } %>>
                Average Daily Balance
              </option>
              <% } %>
              <% if (typeof dscrVars.sources.Custom !== 'undefined') { %>
              <option value="Custom" <% if (dscrVars.source === 'Custom') { %>selected<% } %>>
                Custom
              </option>
              <% } %>
            </select>
            <input id="ds_noi_value" type="text" class="form-control" <% if (dscrVars.source !== 'Custom') { %>
              readonly="readonly" <% } %> value="<%- number_format(parseFloat(dscrVars.noiStatic), 2, '.', ',') %>"
              style="width: 50%" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <label><%- trans('rcl.loan_amount') %></label>
      <input id="ds_loan_value" class="form-control" readonly="readonly" type="text"
        value="<%- dscrVars.loanAmount %>" />
    </div>

    <div class="col-sm-6"></div>

  </div>
  <div class="col-sm-6" style="margin-top: 10px; text-align: right;">
    <a class="btn btn-primary" data-value="0" data-toggle="tab" href="#pfs" class="pop-next-tab-msg cancel-editables active"  data-prompt-msg="nav_pfs" aria-expanded="true" id="pfsdetails">Details</a>
    
  </div>
</div>