<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/bootstrap.min.css"  media="screen" />

    <!--new-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/main.css" media="screen" />
    <link rel="stylesheet" href="css/from-recognizer.css" media="screen" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!--new end-->

<script src="http://code.jquery.com/jquery.js"></script>

</head>
<body>
  <div class="container">
    <h3 class="upload">Upload form to analyze</h3>
    <form   enctype="multipart/form-data" style="margin-bottom: 90px;">
        <input type="hidden" name="_token" value="{{ csrf_token() }}">
        <div class="upload">
          <div id="upload-border">
            <nobr>
              <input type="text" id="upload-name" disabled="true" />
              <button type="button" id="upload-button">Upload</button>
            </nobr>
          </div>
          <input type="file" id="hidden-upload" name="document"  style="display:none"/>
          <button type="submit" class="sub"> Submit </button>
        </div>
        <div id="form-errors"></div>
    </form>

    <table class="table table-striped table-bordered">
      <thead >
        <tr>
          <th scope="col">#</th>
          <th scope="col" class="file">File</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <th scope="row">1</th>
          <td>	Mar 04, 2021 ICTSI SEC Form 17A and Consolidated FS 2020.pdf</td>
          <td>Pending</td>
          <td>
            <button type="button" class="btn btn-success">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button type="button" class="btn btn-info " >
              Download file
            </button>
            <button type="button" class="btn btn-danger" >
              <!-- <i class="fa-solid fa-download"></i>  -->
              Download report
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Apr 14, 2021 Altus Property Ventures, Inc._2020 SEC Form 17-A.pdf</td>
          <td>Done</td>
          <td>
            <button type="button" class="btn btn-success">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button type="button" class="btn btn-info " >
              Download file
            </button>
            <button type="button" class="btn btn-danger" >
              <!-- <i class="fa-solid fa-download"></i>  -->
              Download report
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>17-A 2019.pdf</td>
          <td>Done</td>
          <td>
            <button type="button" class="btn btn-success">
              <i class="fa-solid fa-arrows-rotate"></i>
            </button>
            <button type="button" class="btn btn-info " >
              Download file
            </button>
            <button type="button" class="btn btn-danger" >
              <!-- <i class="fa-solid fa-download"></i>  -->
              Download report
            </button>
          </td>
        </tr>


      </tbody>
    </table>

  </div>

  <div id="loader"></div>
</body>
</html>

<script>
//adds event listener to the file uploader button
document.querySelector("#upload-button").addEventListener("click", () => {
  //clicks on the file input
  document.querySelector("#hidden-upload").click();
});

//adds event listener on the hidden file input to listen for any changes
document.querySelector("#hidden-upload").addEventListener("change", (event) => {
  //gets the file name
  document.querySelector("#upload-name").value = event.target.files[0].name;
});


var spinner = $('#loader');
$(function() {
    var form = $('form')[0];
    var formData = new FormData(form);

    $('form').submit(function(e) {
      var files = $('#hidden-upload')[0].files;
      if(files.length > 0 ){
        formData.append('file',files[0]);
      }

      e.preventDefault();
      spinner.show();

      $.ajax({
        url: '/form-recognizer',
        // data: $(this).serialize(),
        data: formData,
        type: "post",
        contentType: false,
        processData: false,
        success:function(response) {
            successHtml = '<div class="alert alert-success"><ul>';

            successHtml += '<li>' + response.message + '</li>';

            successHtml += '</ul></di>';

            $( '#form-errors' ).html( successHtml );
             spinner.hide();
             setTimeout(function() {
                window.location = "{{ URL::route('form.home')}}"
            }, 2000);
        },
        error:function (response) {
            var errors = response.responseJSON.errors;

            errorsHtml = '<div class="alert alert-danger"><ul>';

            $.each(errors, function(key, value) {
                errorsHtml += '<li>' + value[0] + '</li>';
            });

            errorsHtml += '</ul></di>';

            $( '#form-errors' ).html( errorsHtml );
            spinner.hide();
        }
      });
    });
});
</script>
