.EntityThumb {
    display: block;
    text-align: center;
}

.EntityThumb-row {
    margin-bottom: 10px;
}

.EntityThumb-item {
    border: 1px solid #ccc;
    display: block;
    text-decoration: none;
    margin: 10px;
}

.EntityThumb-item-pane {
    margin: 0 !important;
    padding: 0 !important;
}

.EntityThumb-item-container {
    margin: 5px 10px;
    text-align: center;
}

.EntityThumb-item-summary {
    background-color: #46b789;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
}

.EntityThumb-item-icon {
    margin: 20px 0;
    display: inline-block;
    max-height: 200px;
}

.EntityThumb-detail {
    margin: 0 !important;
    padding: 0 !important;
    border-left: 1px solid #ccc;
    text-align: left;
}

.EntityThumb-detail-row {
    background-color: #055688;
    color: #fff;
    font-weight: bold;
    padding: 5px 5px;
}

.EntityThumb-detail-value {
    padding: 5px 5px;
    min-height: 2em;
}

.EntityPanel {
    text-decoration: none;
    display: block;
    margin-top: 20px;
    text-align: left;
}

.EntityPanel-body {
    padding: 20px;
    display: block !important;
}

.EntityPanel-title {
    font-weight: bold;
}

.thead_pendingData {
    background-color: #055688;
    color: #fff; 
    font-weight: bold;
}

.thead_hide {
    display: none;
}